<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<script>
    
</script>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />

    <label for="password">Password</label>
    <input name="password" type="password" />

    <label for="animal">Pick your Pet</label>
    <input type="radio" name="animal" value="cat">Cat
    
    <input type = "radio" name="animal" value = "dog">Dog
    <img src="https://static.toiimg.com/thumb/msid-67586673,width-800,height-600,resizemode-75,imgsize-3918697,pt-32,y_pad-40/67586673.jpg" width="200px" height="auto">
    <img src="https://i.guim.co.uk/img/media/fe1e34da640c5c56ed16f76ce6f994fa9343d09d/0_174_3408_2046/master/3408.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=0d3f33fb6aa6e0154b7713a00454c83d" width="200px" height="auto"></img>

    <button>Sign Up</button>
  </form>
 
  



  </form>
</body>

</html>